<div class="card" style="width: 18rem;">
  <img src=" {{user.user_photo}} " class="card-img-top" alt="...">

  <div class="card-body">
    <p class="card-text">{{user.email}}</p>
    <a href="/"><button type="submit" class="btn btn-warning">Go home</button></a>
    <a href="/users/private"><button type="submit" class="btn btn-warning">Go private</button></a>

  </div>
</div>